################################################################################
###                              PRIVATE FILES                               ###
################################################################################

# - Private Config
local.ini
private.ini

# Only useful if you work in my team, these are private projects
# so nobody should really need them. Here for completeness.
# - "Lumen" Buildbot
.lumen/
build-config.lumen
build-data.lumen
customs.lumen

# - "Bella" Extension
.bella/
bella.properties

# - AI Information
.coral/
coral.config
coral.db

# - Virtual environment
.venv/

# - Private storage


################################################################################
###                         JETBRAINS PYCHARM FILES                          ###
################################################################################

#------------------------------------------------------------------------------#
#                                   GENERIC                                    #
#------------------------------------------------------------------------------#

# - Generated folders
bin/
gen/
__pycache__/

# - Native Output
*.o
*.out
*.dylib
*.obj
*.so

# - Logs
log/
*.log

#------------------------------------------------------------------------------#
#                              JETBRAINS SPECIFIC                              #
#------------------------------------------------------------------------------#


# - Build caches
.idea/dataSources/
build/
*/build/
out/
*/out/
tmp/
*/tmp/

# - Navigation cache
.navigation/

# - App Captures
captures/

# - PyCharm Configuration (user-specific information)
.idea/dictionaries/
.idea/libraries/
.idea/shelf/
.idea/workspace.xml
.idea/tasks.xml
.idea/misc.xml

# - PyCharm Configuration (user-specific data)
.idea/dataSources.ids
.idea/dataSources.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# - Project Configurations
.idea_modules/
*.iml
*.ipr
*.iws


###############################################################################
###                         OPERATIVE SYSTEM FILES                          ###
###############################################################################

#------------------------------------------------------------------------------#
#                                    LINUX                                     #
#------------------------------------------------------------------------------#

# - Backups
~*

# - Folder configuration
.directory

# - Trash copies
.Trash-*

#------------------------------------------------------------------------------#
#                                  MAC OS X                                    #
#------------------------------------------------------------------------------#
# Mac OS is worse than Windows with all this excessive, horrible data caching...

# - Cached generic files
.DS_Store
.AppleDouble
.LSOverride

# - Thumbnails
._*

# - Device Caches (if repo synced to root of a device)
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# - AFP Sharing Information (if repo is shared via AFP)
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

#------------------------------------------------------------------------------#
#                                   WINDOWS                                    #
#------------------------------------------------------------------------------#

# - Thumbnails
Thumbs.db
ehthumbs.db

# - Folder Configuration
Desktop.ini

# - Trash copies
$RECYCLE.BIN/

# - Links
*.lnk
